<p>content-card works!</p>

<ul>
    <ul style="margin-top: 4em;">
        <li style="font-size: 1.5em;">Title: {{ animeList.printAt(0).title }}</li>
        <li style="font-size: 1.5em;">Description: {{ animeList.printAt(0).description }}</li>
        <li style="font-size: 1.5em;">Creator: {{ animeList.printAt(0).creator }}</li>
        <li style="font-size: 1.5em;">Type: {{ animeList.printAt(0).type }}</li>
        <li style="font-size: 1.5em;">Tags: {{animeList.printAt(0).tags}}</li>
        <li><img src={{animeList.printAt(0).imgURL}}></li>
    </ul>

    <ul style="margin-top: 4em;">
        <li style="font-size: 1.5em;">Title: {{ animeList.printAt(1).title }}</li>
        <li style="font-size: 1.5em;">Description: {{ animeList.printAt(1).description }}</li>
        <li style="font-size: 1.5em;">Creator: {{ animeList.printAt(1).creator }}</li>
        <li style="font-size: 1.5em;">Type: {{ animeList.printAt(1).type }}</li>
        <li style="font-size: 1.5em;">Tags: {{animeList.printAt(1).tags}}</li>
        <li><img src={{animeList.printAt(1).imgURL}}></li>
    </ul>

    <ul style="margin-top: 4em;">
        <li style="font-size: 1.5em;">Title: {{ animeList.printAt(2).title }}</li>
        <li style="font-size: 1.5em;">Description: {{ animeList.printAt(2).description }}</li>
        <li style="font-size: 1.5em;">Creator: {{ animeList.printAt(2).creator }}</li>
        <li style="font-size: 1.5em;">Type: {{ animeList.printAt(2).type }}</li>
        <li style="font-size: 1.5em;">Tags: {{animeList.printAt(2).tags}}</li>
        <li><img src={{animeList.printAt(2).imgURL}}></li>
    </ul>

</ul>
